<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AutomationToolP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteTestCases</display-name>
    <servlet-name>ExecuteTestCases</servlet-name>
    <servlet-class>com.autofusion.ui.ExecuteTestCases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteTestCases</servlet-name>
    <url-pattern>/ExecuteTestCases</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTestCases</display-name>
    <servlet-name>ShowTestCases</servlet-name>
    <servlet-class>com.web.ui.bean.ShowTestCases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTestCases</servlet-name>
    <url-pattern>/ShowTestCases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Convert</display-name>
    <servlet-name>Convert</servlet-name>
    <servlet-class>com.web.ui.bean.Convert</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.autofusion.ui.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SaveSetting</display-name>
    <servlet-name>SaveSetting</servlet-name>
    <servlet-class>com.autofusion.ui.SaveSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSetting</servlet-name>
    <url-pattern>/SaveSetting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Convert</servlet-name>
    <url-pattern>/Convert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTestSuite</servlet-name>
    <url-pattern>/AddTestSuite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTestSuite</display-name>
    <servlet-name>AddTestSuite</servlet-name>
    <servlet-class>com.autofusion.ui.AddTestSuite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.web.ui.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchReport</servlet-name>
    <url-pattern>/FetchReport</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ReceiptServlet</servlet-name>
    <servlet-class>pkg1.ReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptServlet</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartupServlet</display-name>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>pkg1.StartupServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartupServlet</servlet-name>
    <url-pattern>/StartupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>EditTestCase</servlet-name>
    <servlet-class>pkg1.EditTestCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTestCase</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>EditTestCase</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchReport</display-name>
    <servlet-name>FetchReport</servlet-name>
    <servlet-class>com.autofusion.ui.FetchReport</servlet-class>
  </servlet>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>xlsx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
  </mime-mapping>
</web-app>